.vs/
*.dll
*.pdb
*.txt
*.cache
*.exe
Sprout.Exam.Business/obj/Debug/netcoreapp3.1/Sprout.Exam.Business.sourcelink.json
Sprout.Exam.DataAccess/obj/Debug/netcoreapp3.1/Sprout.Exam.DataAccess.sourcelink.json
Sprout.Exam.Tests/bin/Debug/net8.0/appsettings.Development.json
Sprout.Exam.Tests/bin/Debug/net8.0/appsettings.json
Sprout.Exam.Tests/bin/Debug/net8.0/Sprout.Exam.Tests.deps.json
Sprout.Exam.Tests/bin/Debug/net8.0/Sprout.Exam.Tests.runtimeconfig.json
Sprout.Exam.Tests/bin/Debug/net8.0/Sprout.Exam.WebApp.deps.json
Sprout.Exam.Tests/bin/Debug/net8.0/Sprout.Exam.WebApp.runtimeconfig.dev.json
Sprout.Exam.Tests/bin/Debug/net8.0/Sprout.Exam.WebApp.runtimeconfig.json
Sprout.Exam.Tests/bin/Debug/net8.0/Sprout.Exam.WebApp.StaticWebAssets.xml
Sprout.Exam.Tests/obj/Debug/net8.0/Sprout.Exam.Tests.csproj.BuildWithSkipAnalyzers
Sprout.Exam.Tests/obj/Debug/net8.0/Sprout.Exam.Tests.csproj.CopyComplete
Sprout.Exam.Tests/obj/Debug/net8.0/Sprout.Exam.Tests.sourcelink.json
